body {
    text-align: center;
    background: #eef;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}
div {
    margin-bottom: 0.5em;
}
button {
    background-color: #4caf50;
    color:white;
    text-decoration: none;
    font-size: 0.7em;
    border:none;
    cursor:pointer;
    margin-bottom: 1em;

}
button:focus {
    outline: 0;
}
button:hover {
    background-color: #3b9e40;
}